$bcg-color: #131313;
$yellow-color: #E3B873;
$black-color: #181818;

%button-font {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}
%submit__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 8px;
}
%submit__label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  z-index: -1;
  transition: .3s ease;
}
%submit__button {
  max-width: 300px;
  height: 51px;
  background-color: $yellow-color;
  color: #fff;
  border: none;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  @extend %button-font;
  &:hover {
    -webkit-animation: jello-horizontal 0.9s both;
            animation: jello-horizontal 0.9s both;
  }
}

body {
  width: 100%;
}

.container {
  max-width: 1297px;
  padding: 0 30px;
  margin: 0 auto;
}

.nav {
  width: 100%;
  background-color: $bcg-color;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  .container {
    max-width: 1256px;
    height: 83px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__logo {
  color: $yellow-color;

}
.nav__list {
  display: flex;
  flex-wrap: wrap;
}
.nav__item {
  list-style-type: none;
  
  a {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    transition: all .3s ease;

  }
  a:hover {
    color: $yellow-color;
  }
  &:not(:last-child) {
    margin-right: 47px;
  }
}

.nav__item_active a {
  color: $yellow-color;
}
.phone__tel {
  color: $yellow-color;
  margin-right: 45px;
}

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.phone__tel-btn {
  background-color: $yellow-color;
  color: #fff;
  border: none;
  width: 161px;
  height: 37px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  @extend %button-font;
}
.phone__tel-btn:hover {
  -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}




.header {
  background-image: url("../images/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 83px);
  max-height: 707px;
  font-weight: 400;
  .container {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
  }
  
}
.header__content {
  max-width: 530px;
  width: 100%;
}
.header__title {
  color: #fff;
  font-family: 'Yeseva One';
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 19px;
  span {
    color: $yellow-color;
  }
}
.header__subtitle {
  color: #fff;
  font-family: 'Nunito Sans';
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 41px;
}
.header__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.header__button {
  width: 207px;
  height: 51px;
  border: none;
  @extend %button-font;
  &:hover {
    -webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
  }
}
.header__button_first {
  flex: 207px 1 0;
  background-color: $yellow-color;
  color: #fff; 
}
.header__button_second {
  flex: 207px 1 0;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.project {
  width: 100%;
  background-color: $bcg-color;
  padding: 107px 0 90px 0;
}
.project__tabs {
  width: 100%;
}
.tabs__items {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 45px;
  gap: 60px;
}
.tabs__item {
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border: none;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  transition: all .4s ease;
}
.tabs__item.active {
  position: relative;
  color: $yellow-color;
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $yellow-color;
    left: 0;
    right: 0;
    bottom: -10px;
  }
}
.tabs__body {
  width: 100%;
}
.tabs__block {
  display: none;
}
.tabs__block.active {
  display: block;
}
.block__swiper {
  position: relative;
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
}
.swiper-pagination {
  position: relative;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
.slide__content {
  flex: 442px 1 1;
  max-width: 770px;
}
.content__title {
  font-size: 27px;
  line-height: 37px;
  margin-bottom: 34px;

}
.title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: $yellow-color;
}
.content__text {
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 42px;
}
.text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  color: #fff;
}
.content__table {
  display: grid;
  grid-template: repeat(2, 73px) / repeat(2, 218px);
  grid-gap: 34px;
}
.table__title {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 9px;
}
.table__text {
  font-size: 13px;
  line-height: 21px;
}
.slide__img {
  flex: 679px;
  
}
.swiper-navbar {
  width: 200px;
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.navbar-btn-left {
}
.navbar-pog {
}
.navbar-btn-right {
}
.block__content {
}



.video {
  background-color: #131313;
  min-height: 325px;
}
.video__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video__title {
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.video__svg {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 31px;
}
.video__player {
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 817px;
  margin-bottom: -208px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
}
.video__play {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}
.vanished {
  display: none;
}
.submit {
  margin: 270px 0 147px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.submit__stick {
  margin-bottom: 34px;
}
.submit__text {
  max-width: 681px;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin-bottom: 91px;
}
.submit__form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 59px;
  margin-bottom: 34px;
}
.submit__group {
  flex: 1 1 231px;
  max-width: 400px;
  position: relative;
  margin-bottom: 4px;
}
.submit__label {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
  z-index: -1;
  transition: .3s ease;
}
.submit__input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  padding-bottom: 8px;
}

.submit__input:focus ~ .submit__label,
.submit__input:not(:placeholder-shown) ~ .submit__label {
  top: -20px;
}




.submit__button {
  flex: 1 1 200px;
  max-width: 300px;
  height: 51px;
  background-color: $yellow-color;
  color: #fff;
  border: none;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
  @extend %button-font;
}
.submit__button:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

.submit__checkgroup {
  display: flex;
  gap: 10px;
}
.submit__check-label {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 163.68%;
  color: #181818;
}

.types {
  width: 100%;
  margin: 0 0 230px 0;
}
.types__text {
  max-width: 257px;
  margin: 0 auto 31px auto;
}
.types__title {
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}
.types__svg {
  width: 100%;
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
.types__grid-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-content: center;
  gap: 30px;
}
.types__grid-item {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.types__grid-item_1 {
  background-image: url("../images/grid-item1.png");
}
.types__grid-item_2 {
  background-image: url("../images/grid-item2.png");
}
.types__grid-item_3 {
  background-image: url("../images/grid-item3.png");
}
.types__card {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin: 294px auto 28px auto;
  padding: 25px 34px 49px 34px;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.card__title { 
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
  margin-bottom: 13px;
}
.card__list {
  li {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
  }
}
.card__button {
  position: absolute;
  left: 0;
  bottom: -28px;
  width: 200px;
  @extend %submit__button;
}

.measure {
  width: 100%;
  background-image: url("../images/measure_bcg.png");
  background-repeat: no-repeat;
  background-position: left bottom 40px ;
  font-family: 'Nunito Sans';
  font-weight: 400;
  margin: 0 0 142px 0;
}
.measure__content {
  display: grid;
  grid-template: 1fr 72px / 1fr 1fr;
  grid-column-gap: 131px;
  grid-row-gap: 38px;
}
.measure__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 105px;
  padding: 0 0 0 114px;
}
.measure__text-item {
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 14px;
  line-height: 19px;
  color: #363636;

}
.measure__m-form {
  max-width: 506px;
}
.m-form {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  background-color: #131313;
  padding: 28px 49px 27px 49px;
}
.m-form__title {
  max-width: 297px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #fff;  
  margin: 0 auto 40px auto;
}
.m-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.m-form__group {
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: transparent
}
.m-form__label {
  @extend %submit__label;
}
.m-form__input {
  color: #fff;
  font-size: 14px;
  line-height: 23px;
  @extend %submit__input;
}
.m-form__input:focus ~ .m-form__label,
.m-form__input:not(:placeholder-shown) ~ .m-form__label {
  top: -20px;
}
.m-form__chech-group {
  font-size: 14px;
  line-height: 163.68%;
  color: #FFFFFF;
  margin: 17px 0 39px 0;
}
.m-form__checkbox {
}
.m-form__check-label {
}
.m-form__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}
.m-form__button {
  width: 213px;

  @extend %submit__button;
}
.measure__sub {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: end;
  height: 72px;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  
}

.sub__wrapper {
  max-width: 439px;
  align-items: center;
  display: flex;
  gap: 25px;
}

.category {
  width: 100%;
  background-image: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url(../images/cat_bcg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.category__content {
  width: 100%;
  display: flex;
  height: 869px;
  align-items: center;
  justify-content: space-between;
}
.category__text {
  flex: 0 0 300px;
}
.category__title {
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 47px;
}
.category__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.category__item {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #FFFFFF;
  text-decoration: none;
  transition: color .3s ease;
  li {
    list-style: none;
  }
  &:hover {
    color: #E3B873;
    text-decoration: underline;
  }
}
.category-current {
  color: #E3B873;
  text-decoration: underline;
}
.category__img-wrapper {
  display: grid;
  grid-template-columns: repeat(2,354px);
  grid-template-rows: repeat(3, 275px);
  gap: 46px;
}
.category__images {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.category__images_1 {
  grid-column: 1;
  grid-row: 1 / 3;
}
.category__images_2 {
  
}
.category__images_3 {
  grid-column: 1;
  grid-row: 3;
}
.category__images_4 {
  grid-column: 2;
  grid-row: 2 / 4;
}


.comments {
  margin: 170px 0 139px 0;
}
.container {
}
.comments__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.types__title {
}
.types__svg {
}
.comments__grid {
  margin-top: 39px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
  gap: 20px;
}
.comments__item {
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  padding: 50px 20px;

}
.comments__avatar {
  display: flex;
  align-items: center;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  gap: 23px;
  margin-bottom: 40px;
}
.comments__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
}
.footer {
  padding: 100px 0 100px 0;
  background-image: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("../images/footer-bcg.jpg");
  background-repeat: no-repeat;
  background-position: right;
}
.footer__title {
  max-width: 589px;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
  margin: 0 auto;
  
}
.footer__map {
  max-width: 925px;
  margin: 20px auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}